<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<h2>Create Event</h2>

<form method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Promoter
                <input th:field="${event.promoter}" id="disabledInput" type="text">
            </label>
        </div>
        <div class="form-group col-md-6">
            <label>Company
                <input th:field="${event.company}">
            </label>
        </div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Event Name
                <input th:field="${event.name}">
            </label>
            <p class="error" th:errors="${event.name}"></p>
        </div>
        <div class="form-group col-md-4">
            <label>Art Type
                <select th:field="${event.type}">
                    <option value="">----</option>
                    <option th:each="type : ${artTypes}"
                            th:value="${type}"
                            th:text="${type.displayName}">
                    </option>
                </select>
            </label>
            <p class="error" th:errors="${event.type}"></p>
        </div>
        <div class="form-group col-md-4">
            <label>Artist Level
                <select th:field="${event.level}">
                    <option value="">----</option>
                    <option th:each="level : ${artLevels}"
                            th:value="${level}"
                            th:text="${level.displayName}">
                    </option>
                </select>
            </label>
            <p class="error" th:errors="${event.level}"></p>
        </div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Date/Time 1:
                <input type="datetime-local" th:field="${event.date1}">
            </label>
            <p class="error" th:errors="${event.date1}"></p>
        </div>
        <div class="form-group col-md-6">
            <label>Date/Time 2:
                <input type="datetime-local" th:field="${event.date2}">
            </label>
            <p class="error" th:errors="${event.date2}"></p>
        </div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Price (low):  $
                <input th:field="${event.priceLow}">
            </label>
            <p class="error" th:errors="${event.priceLow}"></p>
        </div>
        <div class="form-group col-md-4">
            <label>Price (high):  $
                <input th:field="${event.priceHigh}">
            </label>
            <p class="error" th:errors="${event.priceHigh}"></p>
        </div>
    </div>


    <div class="form-group">
        <label>Description:</label>
        <textarea class="form-control" th:field="${event.description}" rows="3"></textarea>
        <p class="error" th:errors="${event.description}"></p>
    </div>


    <input type="submit" class="btn btn-primary" value="Add Event" />
</form>

<div th:fragment="scripts">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</div>

<script type="text/javascript">
  $(function() {
    $("#datepicker").datepicker();
  });
</script>

</body>
</html>