<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<br>
<h1>Events</h1>
<p align="right"><a class="btn btn-primary" th:href="@{/events/create}">Create</a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Event</th>
            <th>Company</th>
            <th>Type</th>
            <th>Level</th>
            <th>Date/Time</th>
            <th>Price</th>
            <th>Tickets</th>
        </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td><a th:href=" '/events/detail?eventId=' + ${event.id}" th:text="${event.name}"></a></td>
        <td><a th:href=" '/companies/detail?companyId=' + ${event.company.id}" th:text="${event.company.name}"></a></td>
        <td th:text="${event.type.displayName}"></td>
        <td th:text="${event.level.displayName}"></td>
        <td th:text="${event.date1}"></td>
        <td th:text="'$' + ${event.priceLow} + '-' + '$' + ${event.priceHigh}"></td>
        <td><a th:href="${event.URL}" target="_blank"><button class="btn btn-sm btn-outline-secondary" type="button">Tix</button></a></td>
    </tr>
</table>

</body>
</html>