<!DOCTYPE html>
<html lang="en" xmlns:th='http://www.thymeleaf.org/'>
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<br>
<h1>Create Company</h1>
<br>

<form method="post">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Promoter</label>
            <input th:field="${company.user}" type="hidden" class="form-control">
            <i><p th:text="${sessionUser.username}"></p></i>
            <p class="error" th:errors="${company.user}"></p>
        </div>
        <div class="form-group col-md-4">
            <label>Company</label>
                <input th:field="${company.name}" type="text" class="form-control" >
                <p class="error" th:errors="${company.name}"></p>
        </div>
        <div class="form-group col-md-2">
            <label>Art Type</label>
                <select th:field="${company.type}" class="form-control" >
                    <option value="">----</option>
                    <option th:each="type : ${artTypes}"
                            th:value="${type}"
                            th:text="${type.displayName}">
                    </option>
                </select>
            <p class="error" th:errors="${company.type}"></p>
        </div>
        <div class="form-group col-md-2">
            <label>Artist Level</label>
                <select th:field="${company.level}" class="form-control" >
                    <option value="">----</option>
                    <option th:each="level : ${artLevels}"
                            th:value="${level}"
                            th:text="${level.displayName}">
                    </option>
                </select>
            <p class="error" th:errors="${company.level}"></p>
        </div>
    </div>

    <br>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Address</label>
                <input th:field="${company.address}" class="form-control" >
        </div>
        <div class="form-group col-md-4">
            <label>City</label>
                <input th:field="${company.city}" class="form-control" >
        </div>
        <div class="form-check col-md-1">
            <label>State</label>
                <select th:field="${company.state}" class="form-control">
                    <option value="">----</option>
                    <option th:each="state : ${states}"
                            th:value="${state}"
                            th:text="${state.displayName}">
                    </option>
                </select>
        </div>
        <div class="form-group col-md-3">
            <label>Zip</label>
                <input th:field="${company.zipCode}" class="form-control">
            <p class="error" th:errors="${company.zipCode}"></p>
        </div>
    </div>

    <br>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Phone</label>
                <input th:field="${company.phone}" class="form-control">
        </div><div class="form-group col-md-4">
            <label>Home-page URL</label>
                <input th:field="${company.URL}" class="form-control">
            <p class="error" th:errors="${company.URL}"></p>
        </div>
    </div>

    <br>
    <div class="form-group">
        <label>Description:</label>
        <textarea class="form-control" th:field="${company.description}" rows="3"></textarea>
        <p class="error" th:errors="${company.description}"></p>
    </div>


    <input type="submit" class="btn btn-primary" value="Add Company" />
</form>


</body>
</html>